
@use '../themes' as *;
/*

This outlines all the global colors and gradients that may be used within a project.

These are usually taken from a design system from a UI/UX design in software, such as Figma or Sketch.

1, 2 and 3 are only to be used if a library, such as Tailwind CSS, is not being used.

1. Neutrals
2. Indication colors (e.g. $danger: red)
3. Generic colors (e.g. Red, pink, blue)

4. Primary, secondary and tertiary colors
5. Gradients

==== Non Color Styles ====
6. Shadows
7. Borders, strokes and outlines

*/


// 1. NEUTRALS (optional)

// $white: #fff;
$grey-10: #e6e6e6;
$grey-20: #cccccc;
$grey-30: #b3b3b3;
$grey-40: #999999;
$grey-50: #808080;
$grey-60: #666666;
$grey-70: #4c4c4c;
$grey-80: #333333;
$grey-90: #191919;
// $black: #000;

// 2. INDICATION COLORS (optional)

// $warning: #df2935;
// $pending: #fdca40;
// $success: #109648;
// $other: #3772ff;

// 3. GENERIC COLORS (optional)

// 4. PRIMARY, SECONDARY AND TERTIARY COLORS


/* 4a. PRIMARY */

/* 4b. SECONDARY */

/* 4c. TERTIARY */


// 5. Gradients



// ==== NON COLOR STYLES ====

// 6. SHADOWS

$smooth-shadow:
                2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
                6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
                12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
                22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
                41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
                100px 100px 80px rgba(0, 0, 0, 0.07)
                ;

.smooth-shadow {
  box-shadow: $smooth-shadow;
}

// 7. BORDERS, STROKES AND OUTLINES