@use '../themes' as *;
@use '../utilities' as *;

// Responsive Font Sizes:
$font-128: clamp(6.4rem, 12.8vw + 1rem, 12.8rem);
$font-72: clamp(3.6rem, 7.2vw + 1rem, 7.2rem);
$font-64: clamp(3.2rem, 6.4vw + 1rem, 6.4rem);
$font-56: clamp(2.8rem, 5.6vw + 1rem, 5.6rem);
$font-48: clamp(2.4rem, 4.8vw + 1rem, 4.8rem);
$font-40: clamp(2.0rem, 4.0vw + 1rem, 4.0rem);
$font-36: clamp(1.8rem, 3.6vw + 1rem, 3.6rem);
$font-32: clamp(1.6rem, 3.2vw + 1rem, 3.2rem);
$font-28: clamp(1.4rem, 2.8vw + 1rem, 2.8rem);
$font-24: clamp(1.2rem, 2.4vw + 1rem, 2.4rem);
$font-22: clamp(1.1rem, 2.2vw + 1rem, 2.2rem);
$font-20: clamp(1.0rem, 2.0vw + 1rem, 2.0rem);
$font-18: clamp(0.9rem, 1.8vw + 1rem, 1.8rem);
$font-16: clamp(0.8rem, 1.6vw + 1rem, 1.6rem);
$font-14: clamp(0.7rem, 1.4vw + 1rem, 1.4rem);
$font-12: clamp(0.6rem, 1.2vw + 1rem, 1.2rem);
$font-10: clamp(0.5rem, 1.0vw + 1rem, 1.0rem);
$font-8: clamp(0.4rem, 0.8vw + 1rem, 0.8rem);

// Design System Font Sizes:
.font-size-128 {
  font-size: $font-128;
} 
.font-size-72 {
  font-size: $font-72;
} 
.font-size-64 {
  font-size: $font-64;
} 
.font-size-56 {
  font-size: $font-56;
} 
.font-size-48 {
  font-size: $font-48;
} 
.font-size-40 {
  font-size: $font-40;
} 
.font-size-36 {
  font-size: $font-36;
} 
.font-size-32 {
  font-size: $font-32;
} 
.font-size-28 {
  font-size: $font-28;
} 
.font-size-24 {
  font-size: $font-24;
} 
.font-size-22 {
  font-size: $font-22;
} 
.font-size-20 {
  font-size: $font-20;
} 
.font-size-18 {
  font-size: $font-18;
} 
.font-size-16 {
  font-size: $font-16;
} 
.font-size-14 {
  font-size: $font-14;
} 
.font-size-12 {
  font-size: $font-12;
} 
.font-size-10 {
  font-size: $font-10;
} 
.font-size-8 {
  font-size: $font-8;
} 

// === Fonts ===
$heading-font: 'Roboto', sans-serif;
$button-font: 'Roboto', sans-serif;
$body-font: 'Roboto', sans-serif;



// ==== Text Styling ====
html {
  // Converts 1rem unit to 10px for easier calculations:
  font-size: 62.5%;

}

h1, h2, h3, h4, h5, h6 {
  // Headings tend to look better with smaller line-height:
  line-height: 120%;
  font-family: $heading-font;
  font-weight: 700;
}

a {
  text-decoration: unset;
  color: unset;
  font-weight: 700;
  color: cornflowerblue;
}

// === Default Element Font Sizes ===
// Headings:
h1 {
  font-size: $font-64;
}
h2 {
  font-size: $font-56;
}
h3 {
  font-size: $font-48;
}
h4 {
  font-size: $font-40;
}
h5 {
  font-size: $font-36;
}
h6 {
  font-size: $font-28;
}

// Body Text:
p, a, b, strong, em, i, button, mark {
  font-size: $font-16;
  // Sets line-height for all non-heading text:
  line-height: 140%;
  font-family: $body-font;
}