@use '../themes' as *;
@use '../utilities' as *;



// ==== Responsive Font Sizes ====
@mixin font-size($size, $sizevw) {

  // Headings will change sizes much quicker.
  @if $size >= 28 {
    font-size: clamp($size * .05 * 1/3, $sizevw * .1, $size * .1);
  }
  // Body/Smaller text will remain at a visible size.
  @else {
    font-size: clamp($size * .275 * 1/3, $sizevw * .05, $size * .2);
  }
}

// === Default classes to use in HTML ===
.font-size-128 {
  @include font-size(128rem, 128vw);
} 
.font-size-96 {
  @include font-size(96rem, 96vw);
} 
.font-size-84 {
  @include font-size(84rem, 84vw);
} 
.font-size-72 {
  @include font-size(72rem, 72vw);
} 
.font-size-64 {
  @include font-size(64rem, 64vw);
} 
.font-size-56 {
  @include font-size(56rem, 56vw);
} 
.font-size-48 {
  @include font-size(48rem, 48vw);
} 
.font-size-40 {
  @include font-size(40rem, 40vw);
} 
.font-size-36 {
  @include font-size(36rem, 36vw);
} 
.font-size-32 {
  @include font-size(32rem, 32vw);
} 
.font-size-28 {
  @include font-size(28rem, 28vw);
} 
.font-size-24 {
  @include font-size(24rem, 24vw);
} 
.font-size-22 {
  @include font-size(22rem, 22vw);
} 
.font-size-20 {
  @include font-size(20rem, 20vw);
} 
.font-size-18 {
  @include font-size(18rem, 18vw);
} 
.font-size-16 {
  @include font-size(16rem, 16vw);
} 
.font-size-14 {
  @include font-size(14rem, 14vw);
} 
.font-size-12 {
  @include font-size(12rem, 12vw);
} 
.font-size-10 {
  @include font-size(10rem, 10vw);
} 
.font-size-8 {
  @include font-size(8rem, 8vw);
} 

// === Fonts ===
$heading-font: 'Roboto', sans-serif;
$button-font: 'Roboto', sans-serif;
$body-font: 'Roboto', sans-serif;



// ==== Text Styling ====
html {
  // Converts 1rem unit to 10px for easier calculations:
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  // Headings tend to look better with smaller line-height:
  line-height: 120%;
  font-family: $heading-font;
  font-weight: 700;
}

a {
  text-decoration: unset;
  color: unset;
  font-weight: 700;
  color: cornflowerblue;
}

// === Default Element Font Sizes ===
// == Headings ==
h1 {
  @include font-size(72rem, 72vw);
}
h2 {
  @include font-size(64rem, 64vw);
}
h3 {
  @include font-size(48rem, 48vw);
}
h4 {
  @include font-size(36rem, 36vw);
}
h5 {
  @include font-size(28rem, 28vw);
}
h6 {
  @include font-size(24rem, 24vw);
}

// == Body Text ==
p, a, b, strong, em, i, button, mark {
  @include font-size(16rem, 16vw);
  // Sets line-height for all non-heading text:
  line-height: 140%;
  font-family: $body-font;
}