---

// Importing default HTML
import Layout from "../layouts/Layout.astro";

// Importing local SCSS
import '../sass/p_about/index.scss';


---

<Layout>
	<!-- HTML content -->

	<h1>About Page</h1>
	<a href="/">
		<button>Press Me To Go Home</button>
	</a>
	
</Layout>