---

// Importing default HTML
import Layout from "../layouts/Layout.astro";

// Importing local SCSS
import '../sass/p_homepage/index.scss';

// == Images ==


---

<Layout>
	<!-- HTML content -->

	<h1>Home Page</h1>
	<a href="/about">
		<button>Press Me To See About</button>
	</a>
	<img src="/assets/images/photos/jacob.png" width="100" alt="" />

</Layout>