@use '../abstracts' as *;
@use '../themes' as *;

::selection {
  background: white; /* WebKit/Blink Browsers */
  color: black
}
::-moz-selection {
  background: white; /* Gecko Browsers */
  color: black
}




