@use '../abstracts' as *;
@use '../themes' as *;

::selection {
  background: #c8c8c8; /* WebKit/Blink Browsers */
  color: black
}
::-moz-selection {
  background: #c8c8c8; /* Gecko Browsers */
  color: black
}




